.banner {
  padding-top: 5rem;
}
.banner__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner__item--right {
  align-items: flex-end;
}

.banner__item--message p {
  margin-top: 1rem;
  color: $color-2;
}
.banner__item--image p {
  margin: 0;
  font-size: 500%;
}

.banner__item ~ .banner__item {
  margin-top: 2.5rem;
}

.banner__item ~ .banner__item--microcopy {
  margin-top: 6rem;
}

.banner__item ~ .banner__item--button {
  margin-top: 4rem;
}


@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
