// GENERAL RULES
.box {
  width: 100%;
}
.box__item {
  padding: 2.4rem 1.6rem;
  border: 0.1rem solid $border-color;
  border-top: 0;
  border-radius: 0.4rem;
  background-color: #fff;
}

.box__item--header {
  display: flex;
  align-items: flex-start;
  padding: 2.4rem 1.6rem 0;
  white-space: normal;
  border-top: 0.1rem solid $border-color;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.box__item--header:last-child {
  padding: 2.4rem 1.6rem;
}

.box__item--buttons {
  padding-top: 1.6rem !important;
}

.main__item--filter .box__item {
  padding: 1.6rem;
  border-top: 0.1rem solid $border-color;
  border-radius: 0;
  background-color: $input-background-color;
}

.box__item--buttons,
.box__item-position {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.box__item--body {
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
}

.box__item--banner {
  border-bottom: 0.1rem solid $border-color;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.box__item--transparent {
  border: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
}

.box__item--banner {
  border: 0.1rem solid $border-color;
}

// BOX ITEM GENERAL RULES

.box__item-position {
  display: flex;
  flex: 1;
}

.box__item-position--center {
  justify-content: center;
}

.box__item-position--right {
  justify-content: flex-end;
}

.box__item--header h1 {
  color: $color-1;
}

.box__item--header p {
  margin: 2rem 0 0;
  color: $color-2;
  line-height: 2rem;
}

.box__header__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 36px;
}

.box__header__item--action {
  flex-direction: row;
  flex: 0;
  justify-content: flex-end;
  margin-left: 3.2rem;
}

// BOX BODY RULES
@media (min-width: 768px) {
  .box {
    border: none;
  }
  .box__item,
  .box__item--header:last-child {
    border: none;
    padding: 3.2rem;
  }
  .box__item--header {
    padding: 3.2rem 3.2rem 0;
  }

  .main__item--filter .box__item {
    padding: 1.6rem 3.2rem;
    border-top: none;
    border-radius: 0;
    background-color: transparent;
  }
}
@media (min-width: 992px) {
  .box__item--header {
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
}
