ul.button__list {
  display: flex;
  flex: 1 1 0;
  min-width: 0.1rem;
  /* Firefox Bug min-width: 1px */
  min-height: 4rem;
}

ul.button__list a {
  position: relative;
}

ul.button__list a i {
  width: 1em;
}

ul.button__list>li {
  margin-right: 0;
}

ul.button__list>li:first-child {
  margin-left: 0;
}

ul.button__list>li {
  display: flex;
  flex: 0 0 auto;
  margin-left: 1rem;
}

ul.button__list>li~li {
  flex-shrink: 0;
}

ul.button__list--right {
  justify-content: flex-end;
}

ul.button__list--center {
  justify-content: center;
}

ul.button__list li:last-child {
  margin-right: 0;
}

ul.button__list li:last-of-type {
  margin-right: 0;
}