.form__input {
  flex: 1 1 100%;
  height: 4rem;
  width: 100%;
  padding: 0 1.5rem;
  background-color: transparent;
  border: 0.1rem solid darken($border-color, 7%);
  border-radius: 0;
  box-shadow: none;
  border-radius: 2rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none; /* to remove mobile safari boxshadow */
  font-size: 1.4rem;
  color: $color-1;
  background-color: #fff;
}
.form__input--noborder {
  height: 38px;
  border: 0;
}
.form__input:focus {
  border-color: lighten($primary-color, 20%);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.035), 0 0 8px lighten($primary-color, 30%);
}
select.form__input {
  position: relative;
  z-index: 1;
  border-radius: 1.9rem;
  appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  padding-right: 5rem;
}
select.form__input:focus {
  outline: rgba(0, 0, 0, 0);
}
textarea.form__input {
  padding: 6px 10px;
  height: 34px;
  width: 100% !important;
  margin: 0 !important;
  display: flex;
}
.form__input[readonly] {
  color: #727272;
  background-color: #f5f5f5;
}
.select__wrapper {
  position: relative;
  flex: 1;
}
.select__wrapper:before {
  position: absolute;
  content: "";
  right: 2rem;
  top: 1.7rem;
  width: 0; 
  height: 0; 
  border-left: .6rem solid transparent;
  border-right: .6rem solid transparent;
  border-top: .6rem solid $color-3;
  z-index: 2;
  pointer-events: none;
}

.microcopy {
  margin-top: .7rem;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  color: $color-4;
}

.microcopy--error {
  color: $error-color;
}

.input__group--error .form__input:focus {
  border-color: lighten($error-color, 20%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.035), 0 0 8px lighten($error-color, 15%);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lighten($color-3, 10%);
}
::-moz-placeholder { /* Firefox 19+ */
  color: lighten($color-3, 10%);
}
:-ms-input-placeholder { /* IE 10+ */
  color: lighten($color-3, 10%);
}
:-moz-placeholder { /* Firefox 18- */
  color: lighten($color-3, 10%);
}

@media (min-width: 768px) {
  .microcopy { font-size: 1.3rem; }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
