// GENERAL RULES
.box {
  width: 100%;
  border: $component-border;
  border-radius: $border-radius;
  background-color: $component-background;
}

.box--transparent {
  padding: 0;
  border: none;
  background-color: transparent;
}

// BOX ITEM GENERAL RULES
.box--transparent .box__item {
  padding: $m-padding 0;
}

.box__item {
  padding: $m-padding;
}

.box__item-position {
  display: flex;
  flex: 1;
}

.box__item-position--center {
  justify-content: center;
}

.box__item-position--right {
  justify-content: flex-end;
}

// BOX ITEM HEADER RULES
.box__item--header {
  display: flex;
  align-items: center;
  padding: $m-padding $m-padding 0;
  white-space: normal;
}

/* If only there is heading */

.box__item--header:last-child {
  padding: $m-padding;
}

.box__item--header h1 {
  margin: 0;
  font-size: $heading-2;
}

.box__header__item {
  display: flex;
  flex: 1;
  align-items: center;
  min-height: 36px;
}

.box__header__item--action {
  flex: 0 0 30%;
  justify-content: flex-end;
  margin-left: 10px;
  min-width: auto;
  max-width: 30%;
}