.btn {
  display: inline-block;
  padding: .6rem 1.4rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: $border-radius;
  white-space: nowrap;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn--primary {
  color: #fff;
  background-color: $primary-color;
  @include hover {
    background-color: darken($primary-color, 10%);
    border-color: transparent;
    color: #fff;
  }
}

.btn--secondary {
  background-color: $secondary-color;
  color: $primary-color;
  border-color: $primary-color;
}

.btn--link {
  color: $primary-color;
  background-color: transparent;
  @include hover {
    color: darken($primary-color, 20%);
    border-color: transparent;
  }
}