.card { width: 100%; background-color: #fff; border: 1px solid rgba(218, 218, 218, 1); transition: all 220ms; }
.card--fixedfooter { padding-bottom: 76px; }
.card--login { position: relative; min-width: 300px; background-color: transparent; border: 0; }
.card--login .card__item { background-color: rgba(255,255,255,0.8); }
.card--login .card__header__item { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; text-align: center; }
.card--secondary { background-color: #f5f5f5; }
.card ~ .card { margin-top: 40px; }
.card + .card--transparent { margin-top: 0; /* margin-top: 20px; */ }

.card__item { padding: 20px; }
.card__item--header { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 20px 20px 0; white-space: normal; }
.card__item--header:last-child { padding: 20px; } /* If only there is heading */
.card__item--header h2 { margin: 0; font-size: 22px; }
.card__header__item { -webkit-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; min-height: 36px;  }
.card__header__item--action { -webkit-flex: 0 0 30%; -ms-flex: 0 0 30%; flex: 0 0 30%; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; margin-left: 10px; min-width: auto; max-width: 30%; }
.card__item--content + .card__item--header { border-top: 1px solid #dadada; }
.card__item--tabs { padding: 0; }
.card__item--filter { padding: 20px 20px 0; }
.card__item--fixedposition { position: fixed; height: 76px; width: 100%; bottom: 0; left: 0; border: 1px solid rgba(218, 218, 218, 0.8); background-color: #fff; z-index: 10; box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 -4px 8px 0 rgba(0,0,0,0.05); }
.card__item--fixedposition .card__action__button { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; margin-top: 0; }
.card__item--fixedposition .card__action__button ul { display: -webkit-flex; display: -ms-flexbox; display: flex; }
.card__item--fixedposition .card__action__button ul li ~ li { margin-left: 20px; }
.card--error { border-top: 30px solid #e95450; }
.card__item--banner { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
.card__item--bigspace { padding: 38px 0; }
.card__item--space { padding: 20px 0; }
.card__item--button { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
.card__item--center { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.card__item--right { -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
.card__item--deepmenu { padding: 20px 0 0; }
.card__item--timeline { padding: 0; }
.card form { display: block; }
.card--transparent { background-color: transparent; padding: 0; border: none; }
.card--transparent > .card__item { padding: 20px 0; }
.card--transparent > .card__item--bigspace { padding: 38px 0; }
.card--transparent > .card__item--space { padding: 20px 0; }
.card--transparent > .card__item--header { padding: 20px 0 0;}
.card--hero { margin-top: -20px; border: none; background-color: transparent; }

.banner__item--message h3 { color: #b8b8b8; text-align: center; }
.card__item--banner-small h3 { font-size: 16px;  }
.card__item--banner-normal h3 { font-size: 20px;  }
.banner__item ~ .banner__item { margin-top: 20px; }
.microtip__item { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-align: left; }
.microtip__item--left { -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
.microtip__item--center { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.microtip__item--right { -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
.microtip__item p { margin: 0; color: #b8b8b8; }

.card__item--footer { border-top: 1px solid #dadada; }


.card--exp + .card { margin-top: 0; }
.card + .card--exp { margin-top: 40px; }
.data-pjax-container ~ .card { margin-top: 40px; }
.card ~ .data-pjax-container { margin-top: 40px; }

.card--login p { margin-top: 10px; }

@media (min-width: 768px) {
  .card--login { min-width: 450px; }

}
@media (min-width: 992px) {
  .card--login { max-width: 550px; }
}
@media (min-width: 1200px) {

}