.course__navigation {}
.course__navigation ~ .course__navigation  { margin-top: 90px; }
.course__navigation__item { display: flex; }
.course__navigation__item--header { position: relative; display: flex; align-items: flex-end; padding-bottom: 15px; }
.course__navigation__item--header:before { position: absolute; bottom: 0; left: 0; height: 5px; width: 100%; background-color: rgba(8, 29, 21, 0.03); content: ''; border-radius: 5px; }
.course__navigation__item--content {}

.course__navigation__header {}

.course__navigation__header--left { display: flex; align-items: center; justify-content: center; flex: 0 0 30px; }
.course__navigation__header--center { flex: 1; padding: 0 20px 0 15px;  }
.course__navigation__header--center span { font-size: 11px; color: rgba(8, 29, 21, 0.4);  }
.course__navigation__header--center h3 { margin: -3px 0 0; }


.course__navigation__header a.button { height: 32px; padding: 0 12px; font-size: 12px; }

.course__navigation__header--right > span { font-size: 11px; color: rgba(8, 29, 21, 0.3);  }
.course__navigation__header--right span span { display: none; }

.course__navigation__icon { display: flex; align-items: center; justify-content: center; height: 30px; width: 30px; color: #c1c3c4; background-color: #f0f2f1; border-radius: 50%; font-size: 12px; }
.course__navigation__icon--completed { background: linear-gradient(to right, #0ba360 0%, #3cba92 100%); color: #fff; }
.course__navigation__icon--profile { border-radius: 9px; }
.course__navigation__icon--profile img { width: 100%; height: 100%; border-radius: 9px; }

.course__navigation__icon .fa-graduation-cap { height: 12px; width: 15px; }
.course__navigation__icon .fa-bullhorn { height: 12px; width: 12px; }
.course__navigation__icon .fa-play { height: 12px; width: 9px; margin-left: 1px; }
.course__navigation__icon .fa-user { font-size: 14px; width: 10px; }

ul.course__navigation__list { position: relative; width: 100%; margin-top: 30px; }
ul.course__navigation__list:before { position: absolute; width: 3px; height: calc(100% - 30px); left: 14px; top: 0; margin: 15px 0; background-color: rgba(8, 29, 21, 0.03); content: ''; z-index: -1; }
ul.course__navigation__list li {}
ul.course__navigation__list li ~ li { margin-top: 25px;}
ul.course__navigation__list li a { display: flex; align-items: center; }
ul.course__navigation__list li a:hover h4 { color: rgba(8, 29, 21, 1); }
ul.course__navigation__list li .course__navigation__list__item {}
ul.course__navigation__list li .course__navigation__list__item--left { display: flex; align-items: center; justify-content: center; flex: 0 0 30px; }
ul.course__navigation__list li .course__navigation__list__item--center { flex: 1; padding: 0 20px 0 15px;  color: rgba(8, 29, 21, 0.6); }
ul.course__navigation__list li .course__navigation__list__item--center h4 { margin: 0; transition: all 90ms; }
ul.course__navigation__list li .course__navigation__list__item--center span { font-size: 12px; color: rgba(8, 29, 21, 0.2); }
ul.course__navigation__list li .course__navigation__list__item--center strong { color: rgba(8, 29, 21, 0.3); }
ul.course__navigation__list li .course__navigation__list__item--right { min-width: 100px; white-space: nowrap; text-align: right; }
ul.course__navigation__list li .course__navigation__list__item--right span { font-size: 11px; color: rgba(8, 29, 21, 0.3);  }

ul.course__navigation__list li .comment__count { display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: 14px; }

ul.course__navigation__list--discussion:before { display: none; }
ul.course__navigation__list--discussion li ~ li { margin-top: 40px; }

@media (min-width: 768px) {
  .course__navigation__item--header { align-items: flex-end; padding-bottom: 20px; }
.course__navigation__item--header:before { height: 8px; }
.course__navigation__header--center { padding-left: 20px; }
.course__navigation__header--right { flex: 0; padding: 0; white-space: nowrap; }
.course__navigation__header--right span { font-size: 13px; }
.course__navigation__header--right span span { display: inline; }
ul.course__navigation__list:before { width: 4px; left: 18px; }
ul.course__navigation__list li .course__navigation__list__item--left { flex: 0 0 40px; }
ul.course__navigation__list li .course__navigation__list__item--center { padding: 0 40px 0 20px; }
ul.course__navigation__list li .course__navigation__list__item--right { flex: 0; padding: 0; white-space: nowrap; }



.course__navigation__icon { height: 30px; width: 30px;  }
.course__navigation__icon .fa-graduation-cap { font-size: 16px; height: 16px; width: 20px; }
.course__navigation__icon .fa-bullhorn { font-size: 16px; width: 16px; height: 16px; }
.course__navigation__icon--profile,
.course__navigation__icon--profile img { border-radius: 12px; }
.course__navigation__icon--header,
.course__navigation__icon--profile { height: 40px; width: 40px; }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}