.input__group--multicolumn { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; /* align-items: flex-end, http://ankara.libellus.net/verim/test/form/text microcopy olduÄŸu zaman kÃ¶tÃ¼ gÃ¶rÃ¼nÃ¼yor */ -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
.input__group--multicolumn .input__group { width: 100%; }
.input__group label { display: block; min-height: 18px; }
.input__group--verticalcenter { -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.input__group--login { position: absolute; bottom: 20px; width: calc(100% - 40px); display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.input__group ~ .input__group { margin-top: 20px; }

.input__group ~ .input__group--short { margin-top: 15px; }
.input__group--short ~ .input__group--short { margin-top: 15px; }
.input__group--short .input__group ~ .input__group { margin-top: 15px; }

.input__group ~ .input__group--shortest { margin-top: 10px; }
.input__group--short ~ .input__group--shortest { margin-top: 10px; }
.input__group--shortest .input__group ~ .input__group { margin-top: 10px; }

.input__group ~ .card__expander { margin-top: 20px; }
.input__group--error label { color: #ef5a54; }
.input__group--error label.microcopy--error { color: #ef5a54; margin: 2px 0 0; }
.input__group--error .form__input { border-color: #ef5a54; }
.input__group input[type="checkbox"] { position: absolute; }
.input__group .checkbox ~ .checkbox { margin-top: 15px; }
.input__group .checkbox { font-size: 14px; margin: 0; }
.input__group .checkbox label { display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; font-size: 14px; }
.input__group .checkbox label span { color: #b8b8b8; margin: 0 5px;  }
.input__group .checkbox label ~ label { margin-top: 10px; cursor: default; }
.input__group .checkbox label + label.microcopy { display: block; margin-top: 2px; }
.input__group input[type="radio"] { position: absolute; margin-top: 3px; }
.input__group .radio ~ .radio { margin-top: 15px; }
.input__group .radio { font-size: 14px; margin: 0; }
.input__group .radio label { display: block; font-size: 14px; }
.input__group .radio label span { color: #b8b8b8; } 
.input__group .radio label ~ label { margin-top: 5px; cursor: default; }
.input__group .radio label + label.microcopy { margin-top: 2px; }
.input__group h5.radio__checkbox__group__header { margin: 0 0 10px; -ms-flex-negative: 0; -webkit-flex-shrink: 0; flex-shrink: 0; font-size: 14px; font-weight: normal; }
.input__group h5.input__group__innner__header { margin-top: 0; font-size: 16px; }

.input__group .microcopy { color: #b8b8b8; margin-bottom: 0; }
.input__group .microcopy--info { margin-top: 2px; font-size: 13px !important; font-style: italic; }

.input__group > .card__item { padding: 0; }

.input__wrapper { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
.input__wrapper__item { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center;  }
.input__wrapper__item--content { -webkit-flex: 1; -ms-flex: 1; flex: 1; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.input__wrapper__item--action { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.input__wrapper__item--action > ul.button__list li > a { position: relative; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 34px; width: 20px; }
.input__wrapper__item--action > ul.button__list li > .inline__form__wrapper > a { position: relative; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 34px; width: 34px; }

.input__wrapper__item--action > ul.button__list.data-buttons-collapsed > li { margin: 0 0 0 8px; }


@media (min-width: 768px) {
  .input__group--multicolumn { -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }
.input__group--multicolumn .input__group { -webkit-flex: 1 1 0; -ms-flex: 1 1 0; flex: 1 1 0; padding-right: 40px; }
.input__group--multicolumn .input__group:last-of-type { padding-right: 0; }
.input__group--multicolumn .input__group ~ .input__group { margin-top: 0; }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}




