/* Main */

.main__item {
  padding: 64px 10px 0;
}

// .main__item--content {
//   padding: 61px 0 106px 0;
//   max-width: 1200px;
//   margin: auto;
// }

.main__item--wide {
  max-width: 100%;
}


.flex__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc(100% - 20px);
  padding-top: 10px;
  /* height: 100%; Safari de sacmaliyor... */
}

.flex__container~.flex__container {
  margin-top: 40px;
}

.flex__container form {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.flex__column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex__column--main+.flex__column--thirty {
  margin-top: 20px;
}

.flex__column--thirty+.flex__column--main {
  margin-top: 20px;
}

.flex__column form {
  display: block;
}

.flex__section {
  display: flex;
  flex-direction: column;
}

.flex__section~.flex__section {
  margin-top: 30px;
  padding-top: 30px;
}

.flex__section__item {
  display: flex;
  flex-direction: column;
}

.flex__section__item--summary {
  padding: 30px 20px 20px;
}

.flex__section__item--summary h4 {
  font-size: 22px;
  margin: 0 0 10px 0;
}

.flex__section__item--summary p {
  color: #727272;
  margin: 0;
  line-height: 1.5em;
}

.flex__section__item--summary p~p {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .flex__column { padding: 10px; }
}

@media (min-width: 992px) {
  .flex__container {
    flex-direction: row;
  }
  .flex__container--column {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .flex__container form {
    flex-direction: row;
  }
  .flex__column--main {
    flex: 1 1 0;
    max-width: 100%;
  }
  .flex__column--thirty {
    flex: 1 1 33%;
    max-width: 33%;
  }
  .flex__section {
    position: relative;
    flex-direction: row;
  }
  .flex__section~.flex__section {
    border-top: 1px solid #c5d1d4;
  }
  .flex__section__item--summary {
    flex: 1 0 33%;
    max-width: 33%;
    padding: 30px 40px 30px 50px;
  }
  .flex__section__item--main {
    flex: 1 1 0;
    max-width: 100%;
    padding: 10px 20px;
  }
  .flex__section__item--summary+.flex__section__item--main {
    flex: 0 0 67%;
    max-width: 67%;
  }
  .flex__section__item--summary p {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {}