// COLORS
$funky-red: #FA4858;
$funky-blue: #31D3ED;
$funky-green: #32D3BD;
$component-background: #fff;

$input-background-color: #FAFAFB;

//FONT COLORS
$heading1-color: #242728;
$heading2-color: #3c4143;

$font1-color: #646C70;
$font2-color: #9092A5;
$font3-color: #A8A9B8;

$error-color: #ef5a54;

// BORDER
$border-color: #E9ECF3;
$button-border-radius: 1.9rem;
$border-radius: .4rem;


// Font Size
$font-weight-normal: 400;
$heading-1: 3.2rem;
$heading-2: 2.2rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// PADDING
$s-padding: 1.6rem;
$m-padding: 2rem;
$l-padding: 2.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;