// FONT COLORS
$color-1: hsl(195, 5%, 15%);
$color-2: lighten($color-1, 30%);
$color-3: lighten($color-2, 25%);
$color-4: lighten($color-3, 10%);

$background: lighten(hsl(216, 33%, 94%), 4.2%);
$border-color: darken($background, 4%);

$primary-color: #31d3ed;

$funky-red: #fa4858;
// $funky-blue: #31d3ed;
$primary-success: #32d3bd;

$component-background: #fff;

$input-background-color: #f9fafc;

//FONT COLORS
// $heading1-color: #242728;
// $heading2-color: #3c4143;

// $font1-color: #646C70;
// $font2-color: #9092A5;
// $font3-color: #A8A9B8;

$error-color: #ef5a54;

// BORDER
// $border-color: #E9ECF3;
$border-radius: 0.4rem;
